<div class="file-tree">
  @for (node of treeData; track trackByFn($index, node)) {
  <div class="tree-item">
    <div
      class="item-content"
      [style.padding-left.px]="level * 40"
      (click)="!node.isFile && toggleFolder(node)"
      (keydown.enter)="!node.isFile && toggleFolder(node)"
      (keydown.space)="!node.isFile && toggleFolder(node)"
      [style.cursor]="!node.isFile ? 'pointer' : 'default'"
      [tabindex]="!node.isFile ? 0 : -1"
      [attr.role]="!node.isFile ? 'button' : null"
      [attr.aria-expanded]="!node.isFile ? node.expanded : null"
    >
      @if (!node.isFile) {
      <app-folder-item
        [folder]="node"
        [level]="level"
        (toggle)="toggleFolder($event)"
        (addFile)="onAddFile($event)"
      >
      </app-folder-item>
      } @if (node.isFile) {
      <app-file
        [file]="node"
        [level]="level"
        (download)="onDownloadFile($event)"
        (delete)="onDeleteFile($event)"
      >
      </app-file>
      }
    </div>

    @if (!node.isFile && node.expanded && node.children?.length) {
    <div class="children">
      <app-file-tree
        [treeData]="node.children || []"
        [level]="level + 1"
        (folderToggle)="folderToggle.emit($event)"
      >
      </app-file-tree>
    </div>
    }
  </div>
  }
</div>
